.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #333;
  }
  
  .titulo h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .botao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 30px;
  }
  
  .botaoButton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 250px;
  }
  
  .botaoButton:hover {
    background-color: #45a049;
  }
  
  .title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #222;
    color: #fff;
    font-size: 24px;
    margin-top: 30px;
    
  }
  
  .conteudo2 {
    padding: 20px;
    background-color: rgb(7, 0, 0);
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .conteudoItem {
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
  }
  
  .conteudoItem:hover {
    background-color: #ffffff;
  }
  
  .conteudoItem p {
    font-size: 24px;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .title3 {
    text-align: center;
    margin-bottom: 2rem;
   border-radius: 20px;
  }
  
  .cadastro {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 4px;
  }
  
  .cadastro fieldset {
    margin: 0;
    border: none;
  }
  
  .cadastro legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .cadastro p {
    margin: 0.5rem 0;
  }
  
  .cadastro input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 4px;
    color: #000; 
  }
  
  .cadastro button {
    background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0 20px 0; 
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 250px;
  margin-right: 10px;
  }
  
  .cadastro button:hover {
    background-color: #45a049;
  }
  
  .botao_interno {
    margin-right: 1rem;
  }